<html>
<title>
    SvgBob - ascii to svg
</title>
<body>
    <div style="display:flex">
    <pre>
        <code>
{{bob}}
        </code>
    </pre>
    <img src="screenshots/image.svg"/>
    </div>
</body>
</html>
